.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main_body {
  max-width: 935px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 32px auto 0;
  padding-bottom: 32px;
  justify-content: center;
}

.main_footer {
  width: 100%;
  height: 20%;
  padding: 0 10px 0;
}

.main_body_login {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-width: 350px;
  margin-top: 12px;
  align-items: stretch;
  height: 100%;
}

.main_body_login_wrap {
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid #dbdbdb;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
}

.main_body_login_wrap .divfelxbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_logo_h1 {
  color: transparent;
}

.main_body_login_wrap_box_logo {
  overflow: hidden;
  background-image: url("../images/logo.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 110px 0;
  padding: 10px 0 0;
}

.main_body_login_wrap_box_inputbox {
  margin-top: 24px;
  padding-bottom: 10px;
}

.main_body_login_wrap_box_input {
  margin: 0 40px 6px;
  flex-shrink: 0;
  height: 38px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
}

.main_login_input {
  border: 0px;
  background-color: transparent;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 18px;
  border: 0;
  flex: 1 0 auto;
  outline: none;
}

.inputlabel {
  font-size: 12px;
  font: inherit;
  vertical-align: baseline;
  color: #dbdbdb;
  position: absolute;
}

.main_login_input:focus + .inputlabel,
.main_login_input:valid + .inputlabel {
  transform: translateY(-85%);
  margin-left: 5px;
  font-size: 4px;
}
.main_body_login_wrap_box_loginbtn {
  margin: 8px 40px;
  flex: 0 0 auto;
  border-radius: 5px;
}
.loginbtn {
  background-color: rgba(0, 149, 246, 0.3);
  opacity: 1;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  padding: 0;
  border-radius: 5px;
}

.loginok {
  background-color: #0095f6;
}

.loginok:hover {
  cursor: pointer;
}

.main_body_login_wrap_box_loginbtn_btn {
  background-color: rgba(0, 149, 246, 0.3);
  color: rgba(var(--eca, 255, 255, 255), 1);
  font: inherit;
  padding: 5px 9px;
  border-radius: 5px;
}

.main_body_login_wrap_box_content {
  margin: 10px 40px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logindeco {
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  height: 1px;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  flex-grow: 1;
  vertical-align: baseline;
  position: relative;
}

.logindecotxt {
  flex-shrink: 0;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  color: #8e8e8e;
}

.main_body_login_wrap_box_google {
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 14px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
}
